main{
    font-family: 'Roboto', sans-serif;
    .hero{
        header{
            nav{
                ul{
                    li{
                        a{
                            font-weight: 500;
                        }
                    
                    }
                    button{
                        font-weight: 500;
                    }
                }
            }
            .cart{
                .left-part{
                    p{
                        font-weight: 400;
                    }
                }
            }
        }
    }
}